link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
style.
    body {padding-bottom: 50px;}
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")